.TopCategory {
  &__top {
    @include flex(row, space-between, center);
    margin-bottom: 1rem;
  }

  &__heading {
    @include flex(row, center, center);
    gap: 6px;
  }

  &__icon {
    display: flex;
  }

  &__icon svg {
    font-size: 2rem;
    color: $color-primary;
  }
}
