.ViewAll {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  color: $color-grey-text;
  transition: 0.3s;

  &:hover {
    color: $color-primary;
  }

  &__title {
    font-size: 1.6rem;
  }

  &__icon {
    display: flex;
  }

  &__icon svg {
    font-size: 1.8rem;
  }
}
