// Colors
$color-primary: #e94560;
$color-accent: #0f3460;
$color-secondary: #ffe1e6;
$color-tertiary: aliceblue;
$color-white: #ffffff;
$color-black: #010101;
$color-grey-light: #f3f5f9;
$color-grey-dark: #e5e5e5;
$color-grey-text: #A3A3A3;
$color-background: #f6f9fc;

$font-basic: "Poppins", sans-serif;
$font-secondary: "Kantumruy Pro", sans-serif;


$border-radius: 5px;